
span {

    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    border-bottom: 4px solid gray;
    border-top: 2px solid black;
}

p {
    border-style: ridge;
    border-color: lightgreen;
    border-width: 10px;
    margin: 5px;
}

h1{
    font-family: Roboto, sans-serif;
    text-align: center;
    color: blue;
}

body{
    font-family: "crimson text", serif;
    color: red;
}